<mat-tab-group>
  <mat-tab label="Angular">
    <div #scrollableContent>
      <app-markdown [src]="'assets/markdown/markdown-angular.md'">
      </app-markdown>
    </div>
  </mat-tab>
  <mat-tab label="Graphql Java">
    <app-markdown [src]="'assets/markdown/markdown-graphql-java.md'">
    </app-markdown>
  </mat-tab>
  <mat-tab label="Graphql">
    <app-markdown [src]="'assets/markdown/markdown-graphql.md'"> </app-markdown>
  </mat-tab>
  <mat-tab label="Hide Scroll Bar">
    <app-markdown [src]="'assets/markdown/markdown-hide-scrollbar.md'">
    </app-markdown>
  </mat-tab>
  <mat-tab label="Markdown Toolbar">
    <textarea aria-label="Markdown Input" #markdownInput></textarea>
    <app-markdown-toolbar
      [targetElementRef]="markdownInputRef"
      (formatApplied)="updateMarkdown($event)"
    ></app-markdown-toolbar>
  </mat-tab>
</mat-tab-group>
