<mat-drawer-container class="side-container">
  <mat-drawer #drawer mode="side">
    <mat-list>
      <div mat-subheader><h2>Angular Examples</h2></div>
      @for( feature of features; track feature.path) {
      <mat-list-item>
        <mat-icon matListItemIcon>fiber_manual_record</mat-icon>
        <div matListItemTitle>
          <button
            mat-button
            color="primary"
            (click)="performAction(feature.path)"
          >
            {{ feature.title }}
          </button>
        </div>
      </mat-list-item>
      }
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <div class="sidenav-toggle">
      <button mat-mini-fab (click)="drawer.toggle()">
        @if (drawer.opened) {
        <mat-icon>arrow_right</mat-icon>
        } @else {
        <mat-icon>arrow_left</mat-icon>
        }
      </button>
    </div>
    <ng-content></ng-content
  ></mat-drawer-content>
</mat-drawer-container>
